<div class="container">
    <div class="fixed-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div >
            <nav
              class="   d-flex  align-items-center justify-content-endd-flex align-items-center justify-content-end navbar  navbar-expand-lg navbar-dark bg-dark nav-menu ">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">DEV RESTURENT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                  <form style="margin-left: 350px;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Recipes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Chef</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                      </li>
                      <li class="nav-item">
                        <input class="nav-link" value="RESERVATIONS" style="color: black ; text-align: center;">
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div style="color:white;position: absolute;top: 130px;left: 130px;">
    
          <h3>For happy day</h3>
          <h1>ENJOY</h1>
          <h1>HAPPY MEAL</h1>
        </div> 
        <div class="row" style="margin-left: 100px;margin-top: 37rem;position: absolute;padding-left: 5rem;">
    
          <div class="col-md-4">
            <div class="card text-dark mb-3"
              style="max-width: 18rem;border-top-left-radius:50px ;border-top-right-radius:50px ;background-color: white;">
              <div class="card-body" style="text-align: center;">
                <i class="fas fa-thumbs-up" style="font-size:36px ;"></i>
                <h5 class="card-title">QUALITY FOODS</h5>
                <span>Sit amet, consectetur adipiscing elit quisque eget maximus velit, non eleifend libero curabitur
                  dapibus mauris sed leo cursus aliquetcras suscipit.</span>
    
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-dark  mb-3"
              style="max-width: 18rem;border-top-left-radius:50px ;border-top-right-radius:50px ;background-color: white;">
    
              <div class="card-body" style="text-align: center;">
                <i class="fa fa-truck" style="font-size:36px;"></i>
                <h5 class="card-title">Light card title</h5>
                <span>Sit amet, consectetur adipiscing elit quisque eget maximus velit, non eleifend libero curabitur
                  dapibus mauris sed leo cursus aliquetcras suscipit.</span>
    
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-dark  mb-3"
              style="max-width: 18rem;border-top-left-radius:50px ;border-top-right-radius:50px ;background-color: white;">
    
              <div class="card-body" style="text-align: center;">
                <i class='fas fa-pizza-slice' style='font-size:36px'></i>
                <h5 class="card-title">Light card title</h5>
                <span>Sit amet, consectetur adipiscing elit quisque eget maximus velit, non eleifend libero curabitur
                  dapibus mauris sed leo cursus aliquetcras suscipit.</span>
    
              </div>
            </div>
          </div>
    
        </div> 
     <img src="../../assets/download_1.png" style="width: 1200px;margin-bottom: 10rem;margin-left: 80px;">
      </div> 
      <div class="row" style="background-color:#f0f2f5;">
        <img src="../../assets/NoPath_-_Copy_17.png" style="height: 600px; width: 600px;margin-left:200px;">
        <div class="card text-dark  mb-3"
          style="max-width: 630px;height: 420px;position: absolute;margin-left: 40rem;margin-top: 7rem;background-color: white;border: white;">
    
          <div class="card-body">
            <h5 class="card-title">Discover</h5>
            <h3> OUR STORY</h3>
            <p >ULTIMATE DINING EXPERIENCE LIKE NO OTHER</p>
            <span class="text-span">One of the notable character traits of a successful small restaurant owner is the ability to easily solve
              problems. Problem-solving is a skill and most of the time comes with being open-minded.<br /><br />Successful
              entrepreneurs are open-minded people and as such good optimists, critical thinkers and problem solvers. As a
              small restaurant owner, you need to be able to proffer quick solutions to any problem that may arise in the
              course of your business day.<br /><br />This is because critical issues may arise on a daily basis, and if you
              are not results and solution driven, you may be stuck in the same place for a long time.<br /><br />There will
              be pressing issues needing your prompt attention ranging from cookware, staff, power, equipment, delivery, and
              management as a whole. A successful restaurant owner is essentially a fast thinker and a problem
              solver.</span>
          </div>
        </div>
      </div> 
      <div>
        <h5 style="margin-left: 29rem;" >LET'S DISCOVER FOOD</h5>
        <h3 style="margin-left: 26rem;" >SPECIAL DISHES TODAY</h3>

          <img src="../../assets/Capture.PNG" style="margin-left: 20rem;">
      </div>
      <div class="row">
        <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>
          <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>
          <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>
          <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>

      </div>
      <div class="row">
        <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>
          <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>
          <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>
          <div class="card text-dark  mb-3" style="max-width: 18rem;background-color: white; border: white; align-items: center;">
            <div class="card-body">
                <button  style="border-radius: 150px; width: 50px; height: 50px;background-color: black;color: white;margin-left: 14rem;margin-top: 3rem;">$50</button>
                <div class="d-flex">
                    <img src="../../assets/NoPath_-_Copy_10.png" style="margin-left: 7rem;">
                </div>
                <div style="margin-left: 5rem; justify-content: center;">
                    <h5 class="card-title" style="text-align: center;">Light card title</h5>
                    <p class="card-text" style="text-align: center;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" style="margin-left: 2rem;" class="btn btn-outline-dark">READ MORE</button>
                </div>
            </div>
          </div>

      </div><br><br><br>
      <div style="margin-left: 35rem;" >

          <button type="button" class="btn btn-dark">View All</button>
      </div>
      <footer class="col-md-10" style="background-color: black; color: white;margin-left: 5rem;">
    
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xl-10">
                <div class="row">
    
                  <div class="col-lg-3 col-md-6 footer-links ">
                    <h4>DEV RESTAURANT</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, clita mediocritatem eum ne, augue offendit salutandi qui ut, cum ut partiendo ocurreret. Ut per consul atomorum, modo repudiare est ut. Odio scaevola accommodare eu quo. Ut eos eirmod cetero. Vix eu brute error, ei recteque corrumpit pro.</p>
                    <button type="button" style=" border-radius: 150px; width: 40px; height: 40px; background-color: #3b5998;"  
                    ><i class="fab fa-facebook-square" style="justify-content: center;color: white;"></i></button> 
                       <button type="button"  style=" border-radius: 150px; width: 40px; height: 40px; background-color: #00ACEE;"  
                       ><i class="fab fa-twitter" aria-hidden="true" style="justify-content: center;color: white;"></i>
                    </button> 
                          <button type="button" class="btn btn-danger " style=" border-radius: 150px; width: 40px; height: 40px;"  
                          ><i class="fab fa-instagram" style=" justify-content: center;color: white;"
                             aria-hidden="true"></i></button> 
                             <button type="button"  style=" border-radius: 150px; width: 40px; height: 40px;background-color: #0072b1;"  
                             ><i class="fab fa-linkedin-in" style=" justify-content: center;color: white;"
                                aria-hidden="true"></i></button> 
                
                  </div>
    
                  <div class="col-lg-3 col-md-6 footer-links ">
                      <h6>Our Services</h6>
                <div class="text-muted">
                    <i class="fa fa-clock-o" aria-hidden="true"></i><a>  Mondays _______ Closed</a>
                  <br>  <i class="fa fa-clock-o" aria-hidden="true"></i><a>  Tue-Fri _______ 10am-12am</a>
                  <br>  <i class="fa fa-clock-o" aria-hidden="true"></i><a>  Sat-Sun _______ 7am-1am</a>
                  <br>  <i class="fa fa-clock-o" aria-hidden="true"></i><a> Public holidays ___10am-12am</a>
    
                </div>
    
    
           
                    
                  </div>
    
                  <div class="col-lg-3 col-md-6 footer-info ">
                    <h6>Contact Us</h6>
                    <p class="text-muted">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        +1(123)-xxx-xxxx
                    </p>
                    <p class="text-muted">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        121/32 , Second streets , New York <br>
                        King street, New York , 
                        United States 
                    </p>
                    <p class="text-muted">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        dev.design@studio.com
                    </p>
    
                  </div>
    
                  <div class="col-lg-3 col-md-6 footer-info ">
                    <h6>Instagram</h6> 
                        <div class="row">
                            <img src="../../assets/NoPath_-_Copy_11.png" style="width: 5rem;">
                            <img src="../../assets/NoPath_-_Copy_11.png" style="width: 5rem;">
                            <img src="../../assets/NoPath_-_Copy_11.png" style="width: 5rem;">
    
    
                        </div><br>
                        <div class="row">
                            <img src="../../assets/NoPath_-_Copy_12.png" style="width: 5rem;">
                            <img src="../../assets/NoPath_-_Copy_12.png" style="width: 5rem;">
                            <img src="../../assets/NoPath_-_Copy_12.png" style="width: 5rem;">
    
    
                        </div>
                    <div class="social-links mt-3">
                      <a href="https://www.linkedin.com/company/fivepoints-the-talent-pool/" class="linkedin" style="background-color: #7d9ce0;"><i class="bx bxl-linkedin"></i></a>
                      <a href="https://www.facebook.com/FivePoints5P/" class="facebook" style="background-color: #3b5999;"><i class="bx bxl-facebook"></i></a>
                      <a href="https://www.instagram.com/fivepoints.tn/" class="instagram" style="background-color: #ea4c89;"><i class="bx bxl-instagram"></i></a>         
    
                    </div>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div> 
     <hr>
        <div class="container" style="text-align: center;">
          <div class="copyright text-muted">
          © 2019 All Rights Reserved. Designed by    devdesign studio
          </div>
          <div class="credits">
          </div>
        </div>
      </footer>
    </div>
   

</div>
